{% extends "::base.html.twig" %}

{% block javascripts %}
    <script>
        angular.module('AjaxDemo', []).controller('ajaxCtrl', function($scope, $http, $timeout) {
            $scope.params = {
                delay: 1,
                method: "GET"
            };
            $scope.methods = ["GET", "PUT", "POST", "DELETE"];

            $scope.jQueryAjax = function(forceFail) {
                $timeout(function() {
                    $.ajax({
                        url: "{{ path('ajax') }}?error="+(forceFail ? 1 : 0),
                        type: $scope.params.method
                    });
                }, $scope.params.delay * 1000);
            }
            $scope.angularAjax = function(forceFail) {
                $timeout(function() {
                    $http[$scope.params.method.toLowerCase()]("{{ path('ajax') }}?error="+(forceFail ? 1 : 0));
                }, $scope.params.delay * 1000)
            }
        });
    </script>
{% endblock %}

{% block body %}
<div ng-controller="ajaxCtrl">

    <div>
        <div><label for="delay">Delay:</label> <input type="number" id="delay" ng-model="params.delay"></div>
        <div><label for="method">Method:</label> <select ng-model="params.method" ng-options="method for method in methods"></select></div>
    </div>

    <div>Trigger jQuery AJAX request: <a ng-click="jQueryAjax()">200</a> <a ng-click="jQueryAjax(true)">400</a></div>
    <div>Trigger angular AJAX request: <a ng-click="angularAjax()">200</a> <a ng-click="angularAjax(true)">400</a></div>

</div>
{% endblock %}